.App {
  text-align: center;

}

.Todo{

  display: block;
  color : black ; 

}

input{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace ;
  padding : 1rem ;
  font-size : 18px ;
}

#title{
  font-size: 30px;
  color :black ; 

}

.boxheader{
  display: flexbox; 
  

}

.box {
  margin-top : 2.5rem ; 

}

button {
  padding : 20px ; 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;


}


#lefttodo {
  margin-top : 40px ;    
}