.App {
  text-align: center;

}

.Todo{
  margin-top : 10% ; 
  display: block;
  color : white ; 

}

input{
  color : rgb(117, 23, 23)05, 105, 105) ; 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  padding : 1rem ;
  font-size:18px;
}

#title{
  font-size: 30px;
  color : rgb(255, 255, 255) ; 
}
